/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

label {
    cursor: default !important;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* overwrite color autofill inputfield */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset !important;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}

/* main */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background: linear-gradient(130deg, #63B47A 20%, #FFFFFF 100%) no-repeat center center fixed !important;
    margin-bottom: 22px !important;
}

input {
    border-radius: 6px !important;
    font-size: 17px !important;
}

a:link, a:visited {
    color: #777 !important;
    text-decoration: none !important;
}

a:hover, a:active {
    color: #333 !important;
    text-decoration: none !important;
}

h1 {
    text-align: center;
    font-size: 25px !important;
    font-weight: 700 !important;
    margin: 0 0 35px 0 !important;
}

h1 > span {
    font-weight: 200;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    background-color: #f5f5f5;
}

.text-footer {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #777777;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* top-nav / overwrite bootstrap */
.topnav {
    padding-bottom: 10px !important;
    margin: 45px 0 40px !important;
    border-bottom: 3px solid #AED5B9 !important;
}

.navbar-form {
    margin-right: -106px !important;
}
.navbar-form .form-control {
    width: 100% !important;
}

.navbar-form .form-group {
    width: 44% !important;
}

.project-logo {
    height: 36px;
    margin: 0 10px 0 0;
    display: inline-block !important;
}

.project-title {
    display: inline-block !important;
    margin-top: 1px;
}

.navbar-default .navbar-brand {
    margin-top: -7px !important;
}

.navbar-btn {
    margin: 8px 0px 8px 15px !important;
}

/* form-style */
.center-content {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.center-text {
    text-align: center;
    margin-top: 0px !important;
}

.login-logo {
    width: 50px;
    margin-bottom: 15px;
}

.login-div {
    text-align: center;
}

.login-form {
    margin: 20px auto !important;
    padding: 20px;
    padding-top: 30px;
    width: 450px;
    color: #6F6F6F;
    background: rgba(255,255,255,.4);
    border-radius: 6px;
    box-shadow: 8px 8px 0px rgba(0,0,0,.1);
    text-align: right;
}

.pres-group {
    margin: 15px 0;
    padding: 0 20px;
    display: inline-block;
    color: #6F6F6F;
    background: rgba(255,255,255,.4);
    border-radius: 6px;
    box-shadow: 8px 8px 0px rgba(0,0,0,.1);
    width: 100%;
}

.input-form {
    display: inline-block !important;
    width: auto !important;
}

/* button section */
.btn {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0,0,0,.1);
    height: 34px !important;
    border-radius: 6px !important;
}

.btn-default {
    color: #777 !important;
    margin-top: 1px;
}

.btn-green:active {
    top: 3px;
    box-shadow: none !important;
}

.btn-green {
    background: rgba(99,180,122,1) !important;
    box-shadow: 0px 3px 0px rgba(84,158,63,1) !important;
    color: #fff;
    border: 0 !important;
}

.btn-green:disabled {
    background: rgba(99,180,122,.4) !important;
    box-shadow: 0px 3px 0px rgba(84,158,63,.4) !important;
}

.btn-form {
    width: 50% !important;
    margin: 10px 0 !important;
}

.error {
    color: #a94442;
    font-size: 13px;
    margin: -4px 15px 10px 0;
}