img.logo {
    position: absolute;
    width: 50px;
    z-index: 1;
    margin: 15px;
    opacity: .5;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #63B47A !important;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #63B47A !important;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #63B47A !important;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #63B47A !important;
}

.reveal .progress span {
    background: #63B47A !important;
}