/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

label {
    cursor: default !important;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #EEEEEE inset;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}

/* Main */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background: linear-gradient(130deg, #63B47A 20%, #CCCCCC 100%) no-repeat center center fixed !important;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

*::-webkit-input-placeholder {
    color: #ffffff;
}

*:-moz-placeholder {
    color: #ffffff;
}

*::-moz-placeholder {
    color: #ffffff;
}

*:-ms-input-placeholder {
    color: #ffffff;
}
a:link, a:visited {
    color: #777 !important;
    text-decoration: none !important;
}

a:hover, a:active {
    color: #333 !important;
    text-decoration: none !important;
}

h1 {
    text-align: center;
    font-size: 25px !important;
    font-weight: 700 !important;
    color: inherit;
    margin: 0 0 35px 0 !important;
}

h2 {
    text-align: center;
    margin-top: 0px !important;
}

h1 > span {
    font-weight: 200;
}

h1 > span.wrong {
    color: #F26964;
}

i {
    margin: 10px;
    color: rgba(255,255,255,.4);
}

form {
    color: #6F6F6F;
    background: rgba(255,255,255,.4);
    border-radius: 6px;
    padding: 20px;
    padding-top: 30px;
    width: 400px;
    margin: 20px auto !important;
    box-shadow: 8px 8px 0px rgba(0,0,0,.1);
    text-align: right;
}

form#codeForm {
    color: #666666;
    background: rgba(255,255,255,.4);
    border-radius: 6px;
    padding: 20px;
    width: 40%;
    position: fixed;
    left: 50%;
    margin-left: -20%;
    top: 40%;
    z-index: 10;
}

.loginLogo {
    width: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #f5f5f5;
}

.container .text-footer {
    margin: 6px 0;
    font-size: 14px;
    color: #777777;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.topnav {
    padding-bottom: 10px !important;
    margin: 45px 0 40px !important;
    border-bottom: 3px solid #AED5B9 !important;
}
.projectLogo {
    height: 36px;
    margin: 0 10px 0 0;
    display: inline-block !important;
}

.projectTitle {
    display: inline-block !important;
}

.navbar-default .navbar-brand {
    margin-top: -7px !important;
}

input {
    background: #F5F5F5;
    border: 0 !important;
    border-radius: 6px !important;
    margin-top: 10px !important;
    border: 1px solid #eee !important;
    font-size: 17px !important;
}

.input-group {
    width: 100%;
}

div.input-group span {
    padding-bottom: 3px;
}

section {
    position: absolute;
    top: 0 !important;
    width: 100%;
    max-height: 100%;
}

section div.titleText {
    color: #da431c;
    font: bold 2em 'Helvetica Neue', Helvetica, sans-serif !important;
    width: 100%;
}

section div.contentText {
    width: 100%;
}

.slides section{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


div.reveal.blurred {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

div.reveal {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* loginForm */
.loginForm {
  text-align: center;
}

.btn {
    margin-top: 20px !important;
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    border: 0 !important;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0,0,0,.1);
}

.btn:active {
    top: 3px;
    box-shadow: none !important;
}

.green {
    background: rgba(99,180,122,1) !important;
    box-shadow: 0px 3px 0px rgba(84,158,63,1) !important;
    width: 49% !important;
    margin-top: 10px !important;
}

.green:disabled {
    background: rgba(99,180,122,.4) !important;
    box-shadow: 0px 3px 0px rgba(84,158,63,.4) !important;
    width: 49% !important;
    margin-top: 10px !important;
}

.error {
    color: #a94442;
    font-size: 13px;
}