<!doctype html>
<html ng-app='remotePres'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />

    <title>remotePres</title>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/js/ngDialog.min.js'></script>
    <script src='//getbootstrap.com/dist/js/bootstrap.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>

    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog-theme-default.min.css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog.min.css' />
    <link rel='stylesheet' href='//getbootstrap.com/dist/css/bootstrap.min.css' />

    <script src='/javascripts/app.js'></script>
    <script src='/controllers/loginCtrl.js'></script>
    <script src='/controllers/rootCtrl.js'></script>
    <script src='/controllers/slideCtrl.js'></script>
    <script src='/services/remoteService.js'></script>
</head>
<body ng-controller='rootCtrl'>
    <div fb-topnav class='topnav'></div>
    <div ng-view class='container'></div>
    <div fb-footer></div>
</body>
</html>