<div class="slides">
    <section data-background="img/1.jpg">
        <p>remote<span  class="titel">Pres</span></p>
        <p><small>Open deze presentatie op zowel je computer als je smartphone. <br>Navigeer door te swipen of de pijl-toetsen te gebruiken.</small></p>
    </section>
    <section>
        <section data-background="img/2.jpg">Vertical Slide 1</section>
        <section data-background="img/3.jpg">Vertical Slide 2</section>
        <section data-background="img/4.jpg">Vertical Slide 3</section>
    </section>

    <section data-background="img/5.jpg">Single Horizontal Slide 2</section>

    <section>
        <section data-background="img/6.jpg">Vertical Slide 4</section>
        <section data-background="img/7.jpg">Vertical Slide 5</section>
    </section>
</div>