<div ng-controller='slideCtrl'>
    <div ng-show='!addPres'>
        <form class='login-form col-xs-8'>
            <div class='center-text'>
                <img class='login-logo' src='../img/logo.png'>
            </div>
            <h1><span>Maak een </span>Presentatie</h1>
            <div class='form-group'>
                <span>Presentatie code / titel:</span>
                <input type='text' name='username' class='form-control input-form' ng-model='pres.presTitle' />
            </div>
            <div class='center-text'>
                <input type='submit' value='Sla titel op' class='btn btn-green btn-form col-xs-3' ng-click='savePres()' ng-disabled='!canSubmit()' />
            </div>
        </form>
        <div class='row'>
            <div ng-repeat='presentatie in presentaties' class='pres-group col-xs-6'>
                    <input type='button' ng-click='deletePres(presentatie.presentatie)' class='btn-delete' value='x' />
                <div class='' ng-click='openPres(presentatie.presentatie)'>
                    <h2>{{ presentatie.presentatie }}</h2>
                    <h4>
                        Maker: <span>{{ presentatie.maker }}</span><br />
                        Aangemaakt: <span>{{ presentatie.created }}u</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-show='addPres'>
        <form class='login-form col-xs-8'>
            <div class='center-text'>
                <img class='login-logo' src='../img/logo.png'>
            </div>
            <h1>{{ slides.presentatie }}<br />
            <span>{{ slides.created }}</span></h1>
            <div class='form-group'>
                <span>Slide titel:</span>
                <input type='text' class='form-control input-form' placeholder='slide titel...' ng-model='pres.slideTitle' />
            </div>
            <div class='form-group'>
                <span>Content plain text:</span>
                <textarea type='text' class='form-control input-form' placeholder='slide tekst...' ng-model='pres.slideContent' style='height:100px !important' />
            </div>
            <div class='form-group'>
                <span>Content code text:</span>
                <textarea type='text' class='form-control input-form' placeholder='slide code...' ng-model='pres.slideCode' style='height:100px !important' />
            </div>
            <div class='form-group'>
                <span>Afbeelding:</span>
                <input type='text' class='form-control input-form' placeholder='afbeelding url...' ng-model='pres.slideImage' />
            </div>
            <div class='form-group'>
                <span>Video:</span>
                <input type='text' class='form-control input-form' placeholder='video url...' ng-model='pres.slideVideo' />
            </div>
            <div class='form-group'>
                <span>Achtergrond:</span>
                <input type='text' class='form-control input-form' placeholder='achtergrond url...' ng-model='pres.slideBackground' />
            </div>
            <div class='center-text'>
                <input type='submit' value='Save slide' ng-click='saveSlide()' class='btn btn-green btn-form col-xs-3' />
            </div>
        </form>
        <div class='slides'>
            <div ng-repeat='slide in slides.slides' class=''>
                <div class='' ng-if="slide_index == $index">
                    <div class='slide-count'>{{ slideNumber }}<input type='button' ng-click='deleteSlide(slide.slidetitle)' class='btn-delete' value='x' /></div>
                    <div class='slidecontent'>
                        <h2>{{ slide.slidetitle }}</h2>
                        <h4>
                            Content: <span>{{ slide.slidecontent }}</span><br />
                            Code: <span>{{ slide.code }}</span><br />
                            Afbeelding: <span>{{ slide.image }}</span><br />
                            Video: <span>{{ slide.video }}</span><br />
                            Achtergrond: <span>{{ slide.background }}</span><br />
                            <div class='center-text'>
                                <input type='button' class='btn btn-default btn-slide col-xs-3' ng-click="vorige()" value='Vorige' />
                                <input type='button' class='btn btn-default btn-slide col-xs-3' ng-click="volgende()" value='Volgende' />
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
