<!doctype html>
<html ng-app='revealPres'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />

    <title>remotePres</title>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js'></script> 
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/js/reveal.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>

    <link rel='stylesheet' href='/stylesheets/reveal.css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/css/reveal.min.css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/css/theme/black.min.css' />

    <script src='/javascripts/app.js'></script>
    <script src='/controllers/revealCtrl.js'></script>
    <script src='/services/revealService.js'></script>
</head>
<body ng-controller='revealCtrl'>
    <a href='/'><img src='../img/logo.png' class='logo' /></a>
<div class='reveal'>
    <div class='slides'>
        <section data-background='{{ s.background }}' ng-repeat='s in data.slides'>
            <div class='titleText' ng-if='s.slidetitle'>{{ s.slidetitle }}</div>
            <div class='contentText' ng-if='s.slidecontent'><pre>{{ s.slidecontent }}</pre></div>
            <div class='' ng-if='s.code'><pre><code>{{ s.code }}</code><pre></div>
                <video data-autoplay ng-if='s.video'>
                    <source ng-src='{{ s.video }}' type='video/mp4' />
                </video>
                <img ng-src='{{ s.image }}' ng-if='s.image' />
            </div>
        </section>
    </div>
</div>
</body>
</html>