<div class='center-content'>
    <div class='pres-group col-xs-8'>
        <div class='center-text'>
            <img class='login-logo' src='../img/logo.png'>
        </div>
        <h1>Profiel</h1>
        <div ng-show='!profEdit'>
            <h4>
                Gebruikersnaam: <span>{{ user.username }}</span><br />
                Email: <span>{{ user.email }}</span><br />
                Voornaam: <span>{{ user.firstName }}</span><br />
                Achternaam: <span>{{ user.lastName }}</span>
            </h4> 
            <div class='center-text'>
                <input type='button' value='Bewerk' class='btn btn-green btn-form col-xs-3' ng-click='profEdit=!profEdit' />
                <input type='button' value='Verwijder' class='btn btn-red btn-form col-xs-3' ng-click='deletePopup()' />
            </div>
        </div>
        <form ng-show='profEdit'>
            <div class='form-group'>                                 
                <span>Gebruikersnaam:</span>
                <input type='text' class='form-control input-form' ng-model='user.username' name='username' />
            </div>
            <div class='form-group'>
                <span>Wachtwoord:</span>
                <input type='password' class='form-control input-form' ng-model='user.password2' name='password' />
            </div>  
            <div class='form-group'>
                <span>Bevestig wachtwoord:</span>
                <input type='password' class='form-control input-form' ng-model='user.repeatPassword' />
            </div>  
                <div class='error' ng-show='checkMatch()'>Wachtwoord komt niet overeen!</div>
            <div class='form-group'>
                <span>Email:</span>
                <input type='email' class='form-control input-form' ng-model='user.email' name='email' />
            </div>   
            <div class='form-group'>
                <span>Voornaam:</span>
                <input type='text' class='form-control input-form' ng-model='user.firstName' name='firstName' />
            </div>   
            <div class='form-group'>
                <span>Achternaam:</span>
                <input type='text' class='form-control input-form' ng-model='user.lastName' name='lastName' />
            </div>
            <div class='center-text'>
                <input type='submit' value='Wijzig' class='btn btn-green btn-form col-xs-3' ng-disabled='!canSubmit()' ng-click='submitEdit()' />
                <input type='button' value='Annuleer' class='btn btn-red btn-form col-xs-3' ng-click='profEdit=!profEdit' />
            </div>
        </form> 
    </div>
</div>